{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 1 version",
            "ie >= 11"
          ]
        }
      }
    ],
    "es2017",
    "react",
    "stage-0"
  ]
}